@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agence Sénégalaise d'Électrification rurale (ASER)</h1>
    <p>
        L’Agence Sénégalaise d’Electrification rurale (ASER) a été créée par décret n° 99-1254 du 30 décembre 1999. Elle a, entre autres, comme objectifs de :
        situer l’électrification rurale dans une perspective de développement économique et social durable, par une exigence de reproductibilité et de viabilité technique et économique dans le montage des opérations ;
        impliquer le secteur privé, le secteur associatif et les collectivités locales en position d’acteurs moteurs de l’électrification rurale.
        L’ASER est une unité autonome de service du Ministère de l’Energie, chargée de promouvoir l’électrification rurale à travers un soutien aux initiatives au niveau national et au niveau international, en particulier pour développer les programmes d’électrification arrêtés sur la base du plan d’électrification défini par le Ministre de l’Energie. Les activités de l’ASER sont régies par une Lettre de mission du Ministre chargé l’Energie. Cette Lettre de mission fixe aussi des indicateurs de performance précis à l’Agence. Pour accomplir la mission qui lui a été confiée par le Gouvernement, l’ASER a conçu un tissu organisationnel très opérationnel composé d’un Conseil d’Administration, d’une Direction Générale, d’un Comité des Prêts et Subventions, dont les attributs sont précisés par décret.
    </p>
</div>
